/* Card.module.css */
.card {
    /* margin-top: 20px; */
    margin: auto;
    width: 90%; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    
  }
  
.title {
margin-bottom: 20px; /* Adjust the margin between title and content */
border-bottom: 1px solid #ccc; /* Add a line between title and content */
}

.content {
margin-top: 20px; /* Add margin to the top of the content */
}
  